.App {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  max-width: 80vw;
  margin: 0 10vw;
}

.App > .body {
  flex: 1;
  margin: 15px 5px;
}

.fa-heart, .fa-apple {
  color: black;
  transition: color .2s ease-in-out;
}

.fa-heart:hover {
  color: hotpink;
}

.fa-apple:hover {
  color: grey;
}
